/* ==========================================================================
	#Fonts
========================================================================== */
@font-face {
    font-family: 'Arial Narrow';
    src: url('fonts/arial_narrow.eot');
    src: url('fonts/arial_narrow.eot?#iefix') format('embedded-opentype'),
         url('fonts/arial_narrow.woff') format('woff'),
         url('fonts/arial_narrow.ttf') format('truetype'),
         url('fonts/arial_narrow.svg#arialnarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueExtended';
	src: url('fonts/helveticaneue-extended-webfont.eot');
	src: url('fonts/helveticaneue-extended-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/helveticaneue-extended-webfont.woff') format('woff'),
		 url('fonts/helveticaneue-extended-webfont.ttf') format('truetype'),
		 url('fonts/helveticaneue-extended-webfont.svg#helvetica_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}