/* ==========================================================================
	#Reset
========================================================================== */
* { padding: 0; margin: 0; outline: 0; }

/* ==========================================================================
	#Base
========================================================================== */
html,
body { height: 100%; }

html { overflow-y: scroll; }
body { background: #fff; font-family: "Arial Narrow", sans-serif; font-size: 15px; line-height: 20px; color: #000; }

img { border: 0; vertical-align: middle; }

ul,
ol { list-style-position: inside; }

h1,
h2 { text-transform: uppercase; }

h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 19px; line-height: 23px; }

.header-div { margin: 30px 0; }
.header-div img { float: right; }

.article-div { padding: 30px 0; }
.article-div p { margin-bottom: 20px; }
.article-div li { margin-bottom: 20px; }

/* ==========================================================================
	#Helpers
========================================================================== */
.alignleft { text-align: left; }
.alignright { text-align: right; }

.clearfix:before,
.clearfix:after { display: table; content: ' '; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.right,
.alignright { float: right; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

/* ==========================================================================
	#Containers
========================================================================== */
.shell { width: 700px; margin: 0 auto; }

/* ==========================================================================
	#Header
========================================================================== */
.site-header { padding: 16px 0 20px; }
.logo { overflow: hidden; width: 260px; height: 60px; display: block; margin: 0 auto; background: url(images/logo.png) no-repeat 50% 50%; text-indent: 100%; }

/* ==========================================================================
	#Navigation
========================================================================== */
.nav { font-family: 'HelveticaNeueExtended', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; line-height: 20px; color: #000; text-align: center; text-transform: uppercase; background: #ededec; }
.nav li { display: inline-block; padding: 0 35px; }
.nav li a { color: #000; font-weight: bold; padding: 5px 0; display: block; text-decoration: none; }

/* ==========================================================================
	#Main
========================================================================== */
.article-header { text-align: center; }
.article-main { text-align:justify; }
.bullet-letters li { list-style-type:lower-alpha; }
.article-footer { margin-bottom: 30px; }

.agreement .article-header { padding-bottom: 25px; text-align: center; }
.agreement .article-header p { font-size: 22px; font-weight: bold; }
.agreement .article-header h1 { margin-bottom: 14px; }

.certificate .article-header p { font-size: 17px; }
.certificate .article-header h2 { margin: 76px 0 178px; }
.certificate .article-main { margin-bottom: 228px; font-size: 17px; line-height: 18px; }
.certificate .article-footer td:first-child { padding-left: 30px; }
.certificate .article-footer td:last-child { text-align: right; }

.etudiant .article-header { margin-bottom: 61px; }
.etudiant .article-main { margin-bottom: 80px; }

.convention .article-header { margin-bottom: 67px; }
.convention .article-main { margin-bottom: 40px; }
.convention .article-footer tr:first-child td:first-child { padding-left: 96px; }

.facture .article-header p { text-align: right; }
.facture .article-header table { width: 110px; margin-bottom: 10px; border-collapse: collapse; }
.facture .article-header table td { border: 1px solid #000;  }
.facture .article-header h2 { margin: 30px 0; }
.facture .article-main { margin-bottom: 50px; }
.facture .article-main table { margin-bottom: 20px; padding: 10px 10px; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }
.facture .article-main table td:last-child { text-align: right; }
.facture .spacer { padding-left: 130px; }
.facture .article-footer p { text-align: right; }

.facture-details .article-header h2 { margin: 70px 0 30px; text-transform: none; }
.facture-details .article-main table { text-align: right; }
.facture-details .article-main th:first-child,
.facture-details .article-main td:first-child { text-align: left; }
.facture-details th { font-weight: normal; }
